body {
    background-color: #fbe2e5;
}
article {
    background-color:#fabea7;
    font-family: fantasy;
    color: aliceblue;
    margin-left: 30%;
    margin-right:30%;
    line-height: 0.75;
  }

h1 {
    font-family: fantasy;
    font-size: 160%;
    color:#9cada4;
    text-align:center;
}

img {
    border-radius: 50%;
    width: 35%; 
    height: auto; 
    margin-left: 30%;
    float:  auto ;
}


span {
    text-decoration: underline;
    text-decoration-color: #9cada4;
}

span:hover {
    background-color: #9cada4;
}

hr{
    border: dotted #9cada4 6px;
    border-bottom: none;
    width:10%;
    margin-bottom: 3 rem;
    margin-top: 3 rem;
}
.like {
    color:#f56a79;
}

#summer_river {
    background-image: url("river.jpg");
    background-size: auto;
}

.thanks {
    margin: auto;
    width: 10%;
}

/* using styles from others */
/*https://fdossena.com/?p=html5cool/buttons/i.frag*/

.btn {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:fantasy;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #f56a79;
    }

btn:hover{
    border-color: rgba(255,255,255,1);
    }
